# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env*
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# PR Description file
pr_description.md

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
.history/
*.code-workspace
.settings/

# VS Code Local History
.history
.ionide

# Test results and reports
test-results/
playwright-report/
coverage/
